@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inclusive Sans", sans-serif;
}

body {
  background: #f5f5f7;
}

body.dark {
  background-color: #212121;
}

.about-me {
  background-color: #f5f5f5;
  box-shadow: 5px 5px 5px #e0e0e2;
  width: 85%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
}

.about-me.dark {
  background-color: #262626;
  color: #ebebeb;
  box-shadow: 5px 5px #252424 !important;
}

.about-me-data {
  align-self: center;
  width: 60%;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

nav {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-items {
  display: flex;
  align-items: center;
}

.link {
  margin: 5px;
  color: #040504;
  text-decoration: none;
}

.link.dark {
  color: #f5f5f7 !important;
}

#toggle.dark {
  border: none;
  cursor: pointer;
}

.white {
  color: #ebebeb;
  fill: #ebebeb;
}

.active {
  border-bottom: 1px solid #040504;
}
.active.dark {
  border-bottom: 1px solid #f5f5f7 !important;
}

.logo img {
  width: 30px;
}

header {
  display: flex;
  justify-content: center;
}

.hero {
  background-image: url("assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 600px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #e0e0e2;
  display: flex;
  justify-content: end;
  align-items: center;
}

.hero.dark {
  color: #ebebed;
  box-shadow: 5px 5px 5px #202020;
}

.hero-brightness {
  backdrop-filter: brightness(0.96);
  width: 100%;
  height: 100%;
}

.hero-brightness.dark {
  backdrop-filter: brightness(0.34);
}

.hero-text {
  margin: 5em;
  position: absolute;
}

.hero-text.dark {
  color: #ebebed;
}

.quote {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
  min-height: 180px;
}

.quote-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebed;
  padding: 20px;
  border-radius: 8px;
  width: 65%;
}

.quote-content.dark {
  color: #ebebed;
  background-color: #2b2b2b !important;
}

.quote-text {
  font-size: 20px;
}
.quote-person {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quote-person-name span {
  color: #727373;
  font-size: 11px;
}

.quote-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 20px;
  filter: brightness(0.8) grayscale(50%);
}

.product {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.product-wrapper {
  width: 90%;
}

.product-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.section-title.dark {
  color: #ebebed !important;
}

.item {
  width: 250px;
  height: 350px;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #e0e0e2;
  padding: 20px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item.dark {
  box-shadow: 5px 5px #252424 !important;
  background-color: #262626 !important;
  color: white;
}

.item:hover {
  transition: transform 0.3s;
  transform: scale(1.05);
}

.item-type {
  color: #727373;
}

.item-image img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.item-buy {
  width: 100%;
  background: #ebebed;
  padding: 8px 0;
  border-radius: 8px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
}

.item-buy.dark {
  background: #323232;
}

footer {
  background-color: #ebebed;
  padding: 20px;
}

footer.dark {
  background-color: #313131 !important;
  color: white;
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 100%;
    height: 600px;
    background-size: 1000px 100%;
    background-position: 3%;
  }

  .quote-content {
    flex-direction: column;
    width: 90%;
  }

  .quote-text {
    font-size: 11px;
  }

  .quote-person-name {
    font-size: 13px;
  }
  .quote-person-name span {
    font-size: 8px;
  }

  .quote-image {
    width: 60px;
    height: 60px;
  }

  .about-me {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-me-data {
    margin-top: 20px;
    width: 90%;
  }
}
